$uk-breakpoint-s: 0 639px;
$uk-breakpoint-s-max: max-width 639px;
$uk-breakpoint-s-above: 640px;

$uk-breakpoint-m: 640px 959px;
$uk-breakpoint-m-max: max-width 959px;
$uk-breakpoint-m-above: 960px;

$uk-breakpoint-l: 960px 1199px;
$uk-breakpoint-l-max: max-width 1199px;
$uk-breakpoint-l-above: 1200px;

$uk-breakpoint-xl: 1200px 1599px;
$uk-breakpoint-xl-max: max-width 1599px;
$uk-breakpoint-xl-above: 1600px;
